# jupyterlite-core
# jupyterlite-pyodide-kernel
# libarchive-c
# jupyter_server
# jupyterlab_server
# jupyter-datatables
# jupyterlab-filesystem-access
# pyodide-http
# requests

# Core modules (mandatory)
jupyterlite-core
jupyterlab
notebook


# Python kernel (optional)
jupyterlite-pyodide-kernel

# JavaScript kernel (optional)
jupyterlite-javascript-kernel

# P5 kernel (optional)
jupyterlite-p5-kernel

# JupyterLab: Fasta file renderer (optional)
jupyterlab-fasta
# JupyterLab: Geojson file renderer (optional)
jupyterlab-geojson
# JupyterLab: guided tour (optional)
# TODO: re-enable after https://github.com/jupyterlab-contrib/jupyterlab-tour/issues/82
# jupyterlab-tour
# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
jupyterlab_miami_nights

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl
# Python: ipycanvas library for Jupyter notebooks (optional)
ipycanvas
# Python: ipyleaflet library for Jupyter notebooks (optional)
ipyleaflet

# Python: plotting libraries (optional)
plotly
bqplot

# Language packs
# https://github.com/jupyterlab/language-packs/tree/main/language-packs
jupyterlab-language-pack-es-ES
jupyterlab-language-pack-zh-CN
jupyterlab-language-pack-vi-VN
jupyterlab-language-pack-fr-FR

openpyxl
peewee
